<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="checkout_shirish_observer"
            instance="UserStories\UserStoryOneFour\Observer\CheckoutEventObserver" />
    </event>
    <event name="shirish_product_scalable_quantity">
        <observer name="product_shirish_observer"
            instance="UserStories\UserStoryOneFour\Observer\ScalableEventObserver" />
    </event>
</config>