<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- to add new tab in Magento2 system configuration section -->
        <tab id="mod9" translate="label" sortOrder="10">
            <label>Mod9</label>
        </tab>
        <!-- to create section Generalsection-->
        <section id="generalsection" translate="label" type="text" sortOrder="320" showInDefault="1"
            showInWebsite="1" showInStore="1">
            <label>General</label>
            <!-- Assign section to tab -->
            <tab>mod9</tab>
            <resource>Mod9_General::configuration</resource>
            <group id="custom_configuration" translate="label" type="text" sortOrder="5"
                showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Custom Configuration</label>
                <!-- create text type field -->
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1"
                    showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>UserStories\UserStoryNine\Model\Config\Source\YesNo</source_model>
                </field>
                <field id="text_to_display" translate="label" type="text" sortOrder="20"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text to Display</label>
                </field>
            </group>
        </section>

        <!-- User Story 16 -->
        <!-- to create section ColorPicker-->
        <section id="colorpicker" translate="label" type="text" sortOrder="320" showInDefault="1"
            showInWebsite="1" showInStore="1">
            <label>Color Picker</label>
            <!-- Assign section to tab -->
            <tab>mod9</tab>
            <resource>Mod9_Colorpicker::configuration</resource>
            <group id="color_picker_configuration" translate="label" type="text" sortOrder="5"
                showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Color Picker</label>
                <!-- create text type field -->
                <field id="color_picker" translate="label" type="select" sortOrder="10"
                    showInDefault="1"
                    showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>UserStories\UserStoryNine\Model\Config\Source\ColorPicker</source_model>
                </field>
            </group>
        </section>
    </system>
</config>