<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product">
        <plugin name="on_sale_plugin"
            type="UserStories\UserStoryTwo\Plugin\POnSale"
            sortOrder="1" />
    </type>

    <type name="Magento\Theme\Block\Html\Header">
        <plugin name="welcome_plugin"
            type="UserStories\UserStoryTwo\Plugin\PDefaultMessage"
            sortOrder="1" />
    </type>

    <type name="Magento\Theme\Block\Html\Footer">
        <plugin name="copyright_plugin"
            type="UserStories\UserStoryTwo\Plugin\PCopyright"
            sortOrder="1" />
    </type>

    <type name="Magento\Theme\Block\Html\Breadcrumbs">
        <plugin name="breadcrumbs_plugin"
            type="UserStories\UserStoryTwo\Plugin\PBreadcrumb"
            sortOrder="1" />
    </type>
</config>